/* main.css */

div.suggestions {
	cursor: default;
	padding: 0px 3px;
	border: 1px solid black;
	background-color: #ffffff;
	font-size: medium;
}

div.suggestions > .current {
	background-color: #3366cc;
    color: white;
}